.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2%;
  grid-row-gap: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

.col:nth-child(1) {
  grid-column: span 1;
}

.col:nth-child(2) {
  grid-column: span 2;
}

.col:nth-child(3) {
  grid-column: span 2;
}

.col:nth-child(4) {
  grid-column: span 2;
}

.col:nth-child(5) {
  grid-column: span 1;
}

.col:nth-child(6) {
  grid-column: span 1;
}

.col:nth-child(7) {
  grid-column: span 1;
}

.col:nth-child(8) {
  grid-column: span 2;
}

.col:nth-child(9) {
  grid-column: span 2;
}

.col:nth-child(10) {
  grid-column: span 2;
}

.col:nth-child(11) {
  grid-column: span 2;
}

@media screen and (min-width: 420px) {
  .row {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row dense;
  }
}
@media screen and (min-width: 640px) {
  .row {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 800px) {
  .row {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (min-width: 1024px) {
  .row {
    grid-template-columns: repeat(6, 1fr);
  }
}
/** Pour la grille */
.flexrow, .flex-nav-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 2%;
}

.flexcol + .flexcol, .flex-nav-col + .flexcol, .flexcol + .flex-nav-col, .flex-nav-col + .flex-nav-col {
  margin-left: 0.5%;
  box-sizing: border-box;
}

.offset-xs0 {
  margin-left: 0% !important;
}

.offset-xs1 {
  margin-left: 0.8375% !important;
}

.offset-xs2 {
  margin-left: 1.675% !important;
}

.offset-xs3 {
  margin-left: 2.5125% !important;
}

.offset-xs4 {
  margin-left: 3.35% !important;
}

.offset-xs5 {
  margin-left: 4.1875% !important;
}

.offset-xs6 {
  margin-left: 5.025% !important;
}

.offset-xs7 {
  margin-left: 5.8625% !important;
}

.offset-xs8 {
  margin-left: 6.7% !important;
}

.offset-xs9 {
  margin-left: 7.5375% !important;
}

.offset-xs10 {
  margin-left: 8.375% !important;
}

.offset-xs11 {
  margin-left: 9.2125% !important;
}

.offset-xs12 {
  margin-left: 10.05% !important;
}

.offset-xs13 {
  margin-left: 10.8875% !important;
}

.offset-xs14 {
  margin-left: 11.725% !important;
}

.offset-xs15 {
  margin-left: 12.5625% !important;
}

.offset-xs16 {
  margin-left: 13.4% !important;
}

.offset-xs17 {
  margin-left: 14.2375% !important;
}

.offset-xs18 {
  margin-left: 15.075% !important;
}

.offset-xs19 {
  margin-left: 15.9125% !important;
}

.offset-xs20 {
  margin-left: 16.75% !important;
}

.offset-xs21 {
  margin-left: 17.5875% !important;
}

.offset-xs22 {
  margin-left: 18.425% !important;
}

.offset-xs23 {
  margin-left: 19.2625% !important;
}

.offset-xs24 {
  margin-left: 20.1% !important;
}

.offset-xs25 {
  margin-left: 20.9375% !important;
}

.offset-xs26 {
  margin-left: 21.775% !important;
}

.offset-xs27 {
  margin-left: 22.6125% !important;
}

.offset-xs28 {
  margin-left: 23.45% !important;
}

.offset-xs29 {
  margin-left: 24.2875% !important;
}

.offset-xs30 {
  margin-left: 25.125% !important;
}

.offset-xs31 {
  margin-left: 25.9625% !important;
}

.offset-xs32 {
  margin-left: 26.8% !important;
}

.offset-xs33 {
  margin-left: 27.6375% !important;
}

.offset-xs34 {
  margin-left: 28.475% !important;
}

.offset-xs35 {
  margin-left: 29.3125% !important;
}

.offset-xs36 {
  margin-left: 30.15% !important;
}

.offset-xs37 {
  margin-left: 30.9875% !important;
}

.offset-xs38 {
  margin-left: 31.825% !important;
}

.offset-xs39 {
  margin-left: 32.6625% !important;
}

.offset-xs40 {
  margin-left: 33.5% !important;
}

.offset-xs41 {
  margin-left: 34.3375% !important;
}

.offset-xs42 {
  margin-left: 35.175% !important;
}

.offset-xs43 {
  margin-left: 36.0125% !important;
}

.offset-xs44 {
  margin-left: 36.85% !important;
}

.offset-xs45 {
  margin-left: 37.6875% !important;
}

.offset-xs46 {
  margin-left: 38.525% !important;
}

.offset-xs47 {
  margin-left: 39.3625% !important;
}

.offset-xs48 {
  margin-left: 40.2% !important;
}

.offset-xs49 {
  margin-left: 41.0375% !important;
}

.offset-xs50 {
  margin-left: 41.875% !important;
}

.offset-xs51 {
  margin-left: 42.7125% !important;
}

.offset-xs52 {
  margin-left: 43.55% !important;
}

.offset-xs53 {
  margin-left: 44.3875% !important;
}

.offset-xs54 {
  margin-left: 45.225% !important;
}

.offset-xs55 {
  margin-left: 46.0625% !important;
}

.offset-xs56 {
  margin-left: 46.9% !important;
}

.offset-xs57 {
  margin-left: 47.7375% !important;
}

.offset-xs58 {
  margin-left: 48.575% !important;
}

.offset-xs59 {
  margin-left: 49.4125% !important;
}

.offset-xs60 {
  margin-left: 50.25% !important;
}

.offset-xs61 {
  margin-left: 51.0875% !important;
}

.offset-xs62 {
  margin-left: 51.925% !important;
}

.offset-xs63 {
  margin-left: 52.7625% !important;
}

.offset-xs64 {
  margin-left: 53.6% !important;
}

.offset-xs65 {
  margin-left: 54.4375% !important;
}

.offset-xs66 {
  margin-left: 55.275% !important;
}

.offset-xs67 {
  margin-left: 56.1125% !important;
}

.offset-xs68 {
  margin-left: 56.95% !important;
}

.offset-xs69 {
  margin-left: 57.7875% !important;
}

.offset-xs70 {
  margin-left: 58.625% !important;
}

.offset-xs71 {
  margin-left: 59.4625% !important;
}

.offset-xs72 {
  margin-left: 60.3% !important;
}

.offset-xs73 {
  margin-left: 61.1375% !important;
}

.offset-xs74 {
  margin-left: 61.975% !important;
}

.offset-xs75 {
  margin-left: 62.8125% !important;
}

.offset-xs76 {
  margin-left: 63.65% !important;
}

.offset-xs77 {
  margin-left: 64.4875% !important;
}

.offset-xs78 {
  margin-left: 65.325% !important;
}

.offset-xs79 {
  margin-left: 66.1625% !important;
}

.offset-xs80 {
  margin-left: 67% !important;
}

.offset-xs81 {
  margin-left: 67.8375% !important;
}

.offset-xs82 {
  margin-left: 68.675% !important;
}

.offset-xs83 {
  margin-left: 69.5125% !important;
}

.offset-xs84 {
  margin-left: 70.35% !important;
}

.offset-xs85 {
  margin-left: 71.1875% !important;
}

.offset-xs86 {
  margin-left: 72.025% !important;
}

.offset-xs87 {
  margin-left: 72.8625% !important;
}

.offset-xs88 {
  margin-left: 73.7% !important;
}

.offset-xs89 {
  margin-left: 74.5375% !important;
}

.offset-xs90 {
  margin-left: 75.375% !important;
}

.offset-xs91 {
  margin-left: 76.2125% !important;
}

.offset-xs92 {
  margin-left: 77.05% !important;
}

.offset-xs93 {
  margin-left: 77.8875% !important;
}

.offset-xs94 {
  margin-left: 78.725% !important;
}

.offset-xs95 {
  margin-left: 79.5625% !important;
}

.offset-xs96 {
  margin-left: 80.4% !important;
}

.offset-xs97 {
  margin-left: 81.2375% !important;
}

.offset-xs98 {
  margin-left: 82.075% !important;
}

.offset-xs99 {
  margin-left: 82.9125% !important;
}

.offset-xs100 {
  margin-left: 83.75% !important;
}

.offset-xs101 {
  margin-left: 84.5875% !important;
}

.offset-xs102 {
  margin-left: 85.425% !important;
}

.offset-xs103 {
  margin-left: 86.2625% !important;
}

.offset-xs104 {
  margin-left: 87.1% !important;
}

.offset-xs105 {
  margin-left: 87.9375% !important;
}

.offset-xs106 {
  margin-left: 88.775% !important;
}

.offset-xs107 {
  margin-left: 89.6125% !important;
}

.offset-xs108 {
  margin-left: 90.45% !important;
}

.offset-xs109 {
  margin-left: 91.2875% !important;
}

.offset-xs110 {
  margin-left: 92.125% !important;
}

.offset-xs111 {
  margin-left: 92.9625% !important;
}

.offset-xs112 {
  margin-left: 93.8% !important;
}

.offset-xs113 {
  margin-left: 94.6375% !important;
}

.offset-xs114 {
  margin-left: 95.475% !important;
}

.offset-xs115 {
  margin-left: 96.3125% !important;
}

.offset-xs116 {
  margin-left: 97.15% !important;
}

.offset-xs117 {
  margin-left: 97.9875% !important;
}

.offset-xs118 {
  margin-left: 98.825% !important;
}

.offset-xs119 {
  margin-left: 99.6625% !important;
}

.xs1 {
  flex-basis: 0.8375%;
}

.xs2 {
  flex-basis: 1.675%;
}

.xs3 {
  flex-basis: 2.5125%;
}

.xs4 {
  flex-basis: 3.35%;
}

.xs5 {
  flex-basis: 4.1875%;
}

.xs6 {
  flex-basis: 5.025%;
}

.xs7 {
  flex-basis: 5.8625%;
}

.xs8 {
  flex-basis: 6.7%;
}

.xs9 {
  flex-basis: 7.5375%;
}

.xs10 {
  flex-basis: 8.375%;
}

.xs11 {
  flex-basis: 9.2125%;
}

.xs12 {
  flex-basis: 10.05%;
}

.xs13 {
  flex-basis: 10.8875%;
}

.xs14 {
  flex-basis: 11.725%;
}

.xs15 {
  flex-basis: 12.5625%;
}

.xs16 {
  flex-basis: 13.4%;
}

.xs17 {
  flex-basis: 14.2375%;
}

.xs18 {
  flex-basis: 15.075%;
}

.xs19 {
  flex-basis: 15.9125%;
}

.xs20 {
  flex-basis: 16.75%;
}

.xs21 {
  flex-basis: 17.5875%;
}

.xs22 {
  flex-basis: 18.425%;
}

.xs23 {
  flex-basis: 19.2625%;
}

.xs24 {
  flex-basis: 20.1%;
}

.xs25 {
  flex-basis: 20.9375%;
}

.xs26 {
  flex-basis: 21.775%;
}

.xs27 {
  flex-basis: 22.6125%;
}

.xs28 {
  flex-basis: 23.45%;
}

.xs29 {
  flex-basis: 24.2875%;
}

.xs30 {
  flex-basis: 25.125%;
}

.xs31 {
  flex-basis: 25.9625%;
}

.xs32 {
  flex-basis: 26.8%;
}

.xs33 {
  flex-basis: 27.6375%;
}

.xs34 {
  flex-basis: 28.475%;
}

.xs35 {
  flex-basis: 29.3125%;
}

.xs36 {
  flex-basis: 30.15%;
}

.xs37 {
  flex-basis: 30.9875%;
}

.xs38 {
  flex-basis: 31.825%;
}

.xs39 {
  flex-basis: 32.6625%;
}

.xs40 {
  flex-basis: 33.5%;
}

.xs41 {
  flex-basis: 34.3375%;
}

.xs42 {
  flex-basis: 35.175%;
}

.xs43 {
  flex-basis: 36.0125%;
}

.xs44 {
  flex-basis: 36.85%;
}

.xs45 {
  flex-basis: 37.6875%;
}

.xs46 {
  flex-basis: 38.525%;
}

.xs47 {
  flex-basis: 39.3625%;
}

.xs48 {
  flex-basis: 40.2%;
}

.xs49 {
  flex-basis: 41.0375%;
}

.xs50 {
  flex-basis: 41.875%;
}

.xs51 {
  flex-basis: 42.7125%;
}

.xs52 {
  flex-basis: 43.55%;
}

.xs53 {
  flex-basis: 44.3875%;
}

.xs54 {
  flex-basis: 45.225%;
}

.xs55 {
  flex-basis: 46.0625%;
}

.xs56 {
  flex-basis: 46.9%;
}

.xs57 {
  flex-basis: 47.7375%;
}

.xs58 {
  flex-basis: 48.575%;
}

.xs59 {
  flex-basis: 49.4125%;
}

.xs60 {
  flex-basis: 50.25%;
}

.xs61 {
  flex-basis: 51.0875%;
}

.xs62 {
  flex-basis: 51.925%;
}

.xs63 {
  flex-basis: 52.7625%;
}

.xs64 {
  flex-basis: 53.6%;
}

.xs65 {
  flex-basis: 54.4375%;
}

.xs66 {
  flex-basis: 55.275%;
}

.xs67 {
  flex-basis: 56.1125%;
}

.xs68 {
  flex-basis: 56.95%;
}

.xs69 {
  flex-basis: 57.7875%;
}

.xs70 {
  flex-basis: 58.625%;
}

.xs71 {
  flex-basis: 59.4625%;
}

.xs72 {
  flex-basis: 60.3%;
}

.xs73 {
  flex-basis: 61.1375%;
}

.xs74 {
  flex-basis: 61.975%;
}

.xs75 {
  flex-basis: 62.8125%;
}

.xs76 {
  flex-basis: 63.65%;
}

.xs77 {
  flex-basis: 64.4875%;
}

.xs78 {
  flex-basis: 65.325%;
}

.xs79 {
  flex-basis: 66.1625%;
}

.xs80 {
  flex-basis: 67%;
}

.xs81 {
  flex-basis: 67.8375%;
}

.xs82 {
  flex-basis: 68.675%;
}

.xs83 {
  flex-basis: 69.5125%;
}

.xs84 {
  flex-basis: 70.35%;
}

.xs85 {
  flex-basis: 71.1875%;
}

.xs86 {
  flex-basis: 72.025%;
}

.xs87 {
  flex-basis: 72.8625%;
}

.xs88 {
  flex-basis: 73.7%;
}

.xs89 {
  flex-basis: 74.5375%;
}

.xs90 {
  flex-basis: 75.375%;
}

.xs91 {
  flex-basis: 76.2125%;
}

.xs92 {
  flex-basis: 77.05%;
}

.xs93 {
  flex-basis: 77.8875%;
}

.xs94 {
  flex-basis: 78.725%;
}

.xs95 {
  flex-basis: 79.5625%;
}

.xs96 {
  flex-basis: 80.4%;
}

.xs97 {
  flex-basis: 81.2375%;
}

.xs98 {
  flex-basis: 82.075%;
}

.xs99 {
  flex-basis: 82.9125%;
}

.xs100 {
  flex-basis: 83.75%;
}

.xs101 {
  flex-basis: 84.5875%;
}

.xs102 {
  flex-basis: 85.425%;
}

.xs103 {
  flex-basis: 86.2625%;
}

.xs104 {
  flex-basis: 87.1%;
}

.xs105 {
  flex-basis: 87.9375%;
}

.xs106 {
  flex-basis: 88.775%;
}

.xs107 {
  flex-basis: 89.6125%;
}

.xs108 {
  flex-basis: 90.45%;
}

.xs109 {
  flex-basis: 91.2875%;
}

.xs110 {
  flex-basis: 92.125%;
}

.xs111 {
  flex-basis: 92.9625%;
}

.xs112 {
  flex-basis: 93.8%;
}

.xs113 {
  flex-basis: 94.6375%;
}

.xs114 {
  flex-basis: 95.475%;
}

.xs115 {
  flex-basis: 96.3125%;
}

.xs116 {
  flex-basis: 97.15%;
}

.xs117 {
  flex-basis: 97.9875%;
}

.xs118 {
  flex-basis: 98.825%;
}

.xs119 {
  flex-basis: 99.6625%;
}

.xs120 {
  flex-basis: 100.5%;
}

@media screen and (min-width: 420px) and (max-width: 640px) {
  .offset-s0 {
    margin-left: 0% !important;
  }

  .offset-s1 {
    margin-left: 0.8375% !important;
  }

  .offset-s2 {
    margin-left: 1.675% !important;
  }

  .offset-s3 {
    margin-left: 2.5125% !important;
  }

  .offset-s4 {
    margin-left: 3.35% !important;
  }

  .offset-s5 {
    margin-left: 4.1875% !important;
  }

  .offset-s6 {
    margin-left: 5.025% !important;
  }

  .offset-s7 {
    margin-left: 5.8625% !important;
  }

  .offset-s8 {
    margin-left: 6.7% !important;
  }

  .offset-s9 {
    margin-left: 7.5375% !important;
  }

  .offset-s10 {
    margin-left: 8.375% !important;
  }

  .offset-s11 {
    margin-left: 9.2125% !important;
  }

  .offset-s12 {
    margin-left: 10.05% !important;
  }

  .offset-s13 {
    margin-left: 10.8875% !important;
  }

  .offset-s14 {
    margin-left: 11.725% !important;
  }

  .offset-s15 {
    margin-left: 12.5625% !important;
  }

  .offset-s16 {
    margin-left: 13.4% !important;
  }

  .offset-s17 {
    margin-left: 14.2375% !important;
  }

  .offset-s18 {
    margin-left: 15.075% !important;
  }

  .offset-s19 {
    margin-left: 15.9125% !important;
  }

  .offset-s20 {
    margin-left: 16.75% !important;
  }

  .offset-s21 {
    margin-left: 17.5875% !important;
  }

  .offset-s22 {
    margin-left: 18.425% !important;
  }

  .offset-s23 {
    margin-left: 19.2625% !important;
  }

  .offset-s24 {
    margin-left: 20.1% !important;
  }

  .offset-s25 {
    margin-left: 20.9375% !important;
  }

  .offset-s26 {
    margin-left: 21.775% !important;
  }

  .offset-s27 {
    margin-left: 22.6125% !important;
  }

  .offset-s28 {
    margin-left: 23.45% !important;
  }

  .offset-s29 {
    margin-left: 24.2875% !important;
  }

  .offset-s30 {
    margin-left: 25.125% !important;
  }

  .offset-s31 {
    margin-left: 25.9625% !important;
  }

  .offset-s32 {
    margin-left: 26.8% !important;
  }

  .offset-s33 {
    margin-left: 27.6375% !important;
  }

  .offset-s34 {
    margin-left: 28.475% !important;
  }

  .offset-s35 {
    margin-left: 29.3125% !important;
  }

  .offset-s36 {
    margin-left: 30.15% !important;
  }

  .offset-s37 {
    margin-left: 30.9875% !important;
  }

  .offset-s38 {
    margin-left: 31.825% !important;
  }

  .offset-s39 {
    margin-left: 32.6625% !important;
  }

  .offset-s40 {
    margin-left: 33.5% !important;
  }

  .offset-s41 {
    margin-left: 34.3375% !important;
  }

  .offset-s42 {
    margin-left: 35.175% !important;
  }

  .offset-s43 {
    margin-left: 36.0125% !important;
  }

  .offset-s44 {
    margin-left: 36.85% !important;
  }

  .offset-s45 {
    margin-left: 37.6875% !important;
  }

  .offset-s46 {
    margin-left: 38.525% !important;
  }

  .offset-s47 {
    margin-left: 39.3625% !important;
  }

  .offset-s48 {
    margin-left: 40.2% !important;
  }

  .offset-s49 {
    margin-left: 41.0375% !important;
  }

  .offset-s50 {
    margin-left: 41.875% !important;
  }

  .offset-s51 {
    margin-left: 42.7125% !important;
  }

  .offset-s52 {
    margin-left: 43.55% !important;
  }

  .offset-s53 {
    margin-left: 44.3875% !important;
  }

  .offset-s54 {
    margin-left: 45.225% !important;
  }

  .offset-s55 {
    margin-left: 46.0625% !important;
  }

  .offset-s56 {
    margin-left: 46.9% !important;
  }

  .offset-s57 {
    margin-left: 47.7375% !important;
  }

  .offset-s58 {
    margin-left: 48.575% !important;
  }

  .offset-s59 {
    margin-left: 49.4125% !important;
  }

  .offset-s60 {
    margin-left: 50.25% !important;
  }

  .offset-s61 {
    margin-left: 51.0875% !important;
  }

  .offset-s62 {
    margin-left: 51.925% !important;
  }

  .offset-s63 {
    margin-left: 52.7625% !important;
  }

  .offset-s64 {
    margin-left: 53.6% !important;
  }

  .offset-s65 {
    margin-left: 54.4375% !important;
  }

  .offset-s66 {
    margin-left: 55.275% !important;
  }

  .offset-s67 {
    margin-left: 56.1125% !important;
  }

  .offset-s68 {
    margin-left: 56.95% !important;
  }

  .offset-s69 {
    margin-left: 57.7875% !important;
  }

  .offset-s70 {
    margin-left: 58.625% !important;
  }

  .offset-s71 {
    margin-left: 59.4625% !important;
  }

  .offset-s72 {
    margin-left: 60.3% !important;
  }

  .offset-s73 {
    margin-left: 61.1375% !important;
  }

  .offset-s74 {
    margin-left: 61.975% !important;
  }

  .offset-s75 {
    margin-left: 62.8125% !important;
  }

  .offset-s76 {
    margin-left: 63.65% !important;
  }

  .offset-s77 {
    margin-left: 64.4875% !important;
  }

  .offset-s78 {
    margin-left: 65.325% !important;
  }

  .offset-s79 {
    margin-left: 66.1625% !important;
  }

  .offset-s80 {
    margin-left: 67% !important;
  }

  .offset-s81 {
    margin-left: 67.8375% !important;
  }

  .offset-s82 {
    margin-left: 68.675% !important;
  }

  .offset-s83 {
    margin-left: 69.5125% !important;
  }

  .offset-s84 {
    margin-left: 70.35% !important;
  }

  .offset-s85 {
    margin-left: 71.1875% !important;
  }

  .offset-s86 {
    margin-left: 72.025% !important;
  }

  .offset-s87 {
    margin-left: 72.8625% !important;
  }

  .offset-s88 {
    margin-left: 73.7% !important;
  }

  .offset-s89 {
    margin-left: 74.5375% !important;
  }

  .offset-s90 {
    margin-left: 75.375% !important;
  }

  .offset-s91 {
    margin-left: 76.2125% !important;
  }

  .offset-s92 {
    margin-left: 77.05% !important;
  }

  .offset-s93 {
    margin-left: 77.8875% !important;
  }

  .offset-s94 {
    margin-left: 78.725% !important;
  }

  .offset-s95 {
    margin-left: 79.5625% !important;
  }

  .offset-s96 {
    margin-left: 80.4% !important;
  }

  .offset-s97 {
    margin-left: 81.2375% !important;
  }

  .offset-s98 {
    margin-left: 82.075% !important;
  }

  .offset-s99 {
    margin-left: 82.9125% !important;
  }

  .offset-s100 {
    margin-left: 83.75% !important;
  }

  .offset-s101 {
    margin-left: 84.5875% !important;
  }

  .offset-s102 {
    margin-left: 85.425% !important;
  }

  .offset-s103 {
    margin-left: 86.2625% !important;
  }

  .offset-s104 {
    margin-left: 87.1% !important;
  }

  .offset-s105 {
    margin-left: 87.9375% !important;
  }

  .offset-s106 {
    margin-left: 88.775% !important;
  }

  .offset-s107 {
    margin-left: 89.6125% !important;
  }

  .offset-s108 {
    margin-left: 90.45% !important;
  }

  .offset-s109 {
    margin-left: 91.2875% !important;
  }

  .offset-s110 {
    margin-left: 92.125% !important;
  }

  .offset-s111 {
    margin-left: 92.9625% !important;
  }

  .offset-s112 {
    margin-left: 93.8% !important;
  }

  .offset-s113 {
    margin-left: 94.6375% !important;
  }

  .offset-s114 {
    margin-left: 95.475% !important;
  }

  .offset-s115 {
    margin-left: 96.3125% !important;
  }

  .offset-s116 {
    margin-left: 97.15% !important;
  }

  .offset-s117 {
    margin-left: 97.9875% !important;
  }

  .offset-s118 {
    margin-left: 98.825% !important;
  }

  .offset-s119 {
    margin-left: 99.6625% !important;
  }

  .s1 {
    flex-basis: 0.3375%;
  }

  .s2 {
    flex-basis: 1.175%;
  }

  .s3 {
    flex-basis: 2.0125%;
  }

  .s4 {
    flex-basis: 2.85%;
  }

  .s5 {
    flex-basis: 3.6875%;
  }

  .s6 {
    flex-basis: 4.525%;
  }

  .s7 {
    flex-basis: 5.3625%;
  }

  .s8 {
    flex-basis: 6.2%;
  }

  .s9 {
    flex-basis: 7.0375%;
  }

  .s10 {
    flex-basis: 7.875%;
  }

  .s11 {
    flex-basis: 8.7125%;
  }

  .s12 {
    flex-basis: 9.55%;
  }

  .s13 {
    flex-basis: 10.3875%;
  }

  .s14 {
    flex-basis: 11.225%;
  }

  .s15 {
    flex-basis: 12.0625%;
  }

  .s16 {
    flex-basis: 12.9%;
  }

  .s17 {
    flex-basis: 13.7375%;
  }

  .s18 {
    flex-basis: 14.575%;
  }

  .s19 {
    flex-basis: 15.4125%;
  }

  .s20 {
    flex-basis: 16.25%;
  }

  .s21 {
    flex-basis: 17.0875%;
  }

  .s22 {
    flex-basis: 17.925%;
  }

  .s23 {
    flex-basis: 18.7625%;
  }

  .s24 {
    flex-basis: 19.6%;
  }

  .s25 {
    flex-basis: 20.4375%;
  }

  .s26 {
    flex-basis: 21.275%;
  }

  .s27 {
    flex-basis: 22.1125%;
  }

  .s28 {
    flex-basis: 22.95%;
  }

  .s29 {
    flex-basis: 23.7875%;
  }

  .s30 {
    flex-basis: 24.625%;
  }

  .s31 {
    flex-basis: 25.4625%;
  }

  .s32 {
    flex-basis: 26.3%;
  }

  .s33 {
    flex-basis: 27.1375%;
  }

  .s34 {
    flex-basis: 27.975%;
  }

  .s35 {
    flex-basis: 28.8125%;
  }

  .s36 {
    flex-basis: 29.65%;
  }

  .s37 {
    flex-basis: 30.4875%;
  }

  .s38 {
    flex-basis: 31.325%;
  }

  .s39 {
    flex-basis: 32.1625%;
  }

  .s40 {
    flex-basis: 33%;
  }

  .s41 {
    flex-basis: 33.8375%;
  }

  .s42 {
    flex-basis: 34.675%;
  }

  .s43 {
    flex-basis: 35.5125%;
  }

  .s44 {
    flex-basis: 36.35%;
  }

  .s45 {
    flex-basis: 37.1875%;
  }

  .s46 {
    flex-basis: 38.025%;
  }

  .s47 {
    flex-basis: 38.8625%;
  }

  .s48 {
    flex-basis: 39.7%;
  }

  .s49 {
    flex-basis: 40.5375%;
  }

  .s50 {
    flex-basis: 41.375%;
  }

  .s51 {
    flex-basis: 42.2125%;
  }

  .s52 {
    flex-basis: 43.05%;
  }

  .s53 {
    flex-basis: 43.8875%;
  }

  .s54 {
    flex-basis: 44.725%;
  }

  .s55 {
    flex-basis: 45.5625%;
  }

  .s56 {
    flex-basis: 46.4%;
  }

  .s57 {
    flex-basis: 47.2375%;
  }

  .s58 {
    flex-basis: 48.075%;
  }

  .s59 {
    flex-basis: 48.9125%;
  }

  .s60 {
    flex-basis: 49.75%;
  }

  .s61 {
    flex-basis: 50.5875%;
  }

  .s62 {
    flex-basis: 51.425%;
  }

  .s63 {
    flex-basis: 52.2625%;
  }

  .s64 {
    flex-basis: 53.1%;
  }

  .s65 {
    flex-basis: 53.9375%;
  }

  .s66 {
    flex-basis: 54.775%;
  }

  .s67 {
    flex-basis: 55.6125%;
  }

  .s68 {
    flex-basis: 56.45%;
  }

  .s69 {
    flex-basis: 57.2875%;
  }

  .s70 {
    flex-basis: 58.125%;
  }

  .s71 {
    flex-basis: 58.9625%;
  }

  .s72 {
    flex-basis: 59.8%;
  }

  .s73 {
    flex-basis: 60.6375%;
  }

  .s74 {
    flex-basis: 61.475%;
  }

  .s75 {
    flex-basis: 62.3125%;
  }

  .s76 {
    flex-basis: 63.15%;
  }

  .s77 {
    flex-basis: 63.9875%;
  }

  .s78 {
    flex-basis: 64.825%;
  }

  .s79 {
    flex-basis: 65.6625%;
  }

  .s80 {
    flex-basis: 66.5%;
  }

  .s81 {
    flex-basis: 67.3375%;
  }

  .s82 {
    flex-basis: 68.175%;
  }

  .s83 {
    flex-basis: 69.0125%;
  }

  .s84 {
    flex-basis: 69.85%;
  }

  .s85 {
    flex-basis: 70.6875%;
  }

  .s86 {
    flex-basis: 71.525%;
  }

  .s87 {
    flex-basis: 72.3625%;
  }

  .s88 {
    flex-basis: 73.2%;
  }

  .s89 {
    flex-basis: 74.0375%;
  }

  .s90 {
    flex-basis: 74.875%;
  }

  .s91 {
    flex-basis: 75.7125%;
  }

  .s92 {
    flex-basis: 76.55%;
  }

  .s93 {
    flex-basis: 77.3875%;
  }

  .s94 {
    flex-basis: 78.225%;
  }

  .s95 {
    flex-basis: 79.0625%;
  }

  .s96 {
    flex-basis: 79.9%;
  }

  .s97 {
    flex-basis: 80.7375%;
  }

  .s98 {
    flex-basis: 81.575%;
  }

  .s99 {
    flex-basis: 82.4125%;
  }

  .s100 {
    flex-basis: 83.25%;
  }

  .s101 {
    flex-basis: 84.0875%;
  }

  .s102 {
    flex-basis: 84.925%;
  }

  .s103 {
    flex-basis: 85.7625%;
  }

  .s104 {
    flex-basis: 86.6%;
  }

  .s105 {
    flex-basis: 87.4375%;
  }

  .s106 {
    flex-basis: 88.275%;
  }

  .s107 {
    flex-basis: 89.1125%;
  }

  .s108 {
    flex-basis: 89.95%;
  }

  .s109 {
    flex-basis: 90.7875%;
  }

  .s110 {
    flex-basis: 91.625%;
  }

  .s111 {
    flex-basis: 92.4625%;
  }

  .s112 {
    flex-basis: 93.3%;
  }

  .s113 {
    flex-basis: 94.1375%;
  }

  .s114 {
    flex-basis: 94.975%;
  }

  .s115 {
    flex-basis: 95.8125%;
  }

  .s116 {
    flex-basis: 96.65%;
  }

  .s117 {
    flex-basis: 97.4875%;
  }

  .s118 {
    flex-basis: 98.325%;
  }

  .s119 {
    flex-basis: 99.1625%;
  }

  .s120 {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 640px) and (max-width: 800px) {
  .offset-m0 {
    margin-left: 0% !important;
  }

  .offset-m1 {
    margin-left: 0.8375% !important;
  }

  .offset-m2 {
    margin-left: 1.675% !important;
  }

  .offset-m3 {
    margin-left: 2.5125% !important;
  }

  .offset-m4 {
    margin-left: 3.35% !important;
  }

  .offset-m5 {
    margin-left: 4.1875% !important;
  }

  .offset-m6 {
    margin-left: 5.025% !important;
  }

  .offset-m7 {
    margin-left: 5.8625% !important;
  }

  .offset-m8 {
    margin-left: 6.7% !important;
  }

  .offset-m9 {
    margin-left: 7.5375% !important;
  }

  .offset-m10 {
    margin-left: 8.375% !important;
  }

  .offset-m11 {
    margin-left: 9.2125% !important;
  }

  .offset-m12 {
    margin-left: 10.05% !important;
  }

  .offset-m13 {
    margin-left: 10.8875% !important;
  }

  .offset-m14 {
    margin-left: 11.725% !important;
  }

  .offset-m15 {
    margin-left: 12.5625% !important;
  }

  .offset-m16 {
    margin-left: 13.4% !important;
  }

  .offset-m17 {
    margin-left: 14.2375% !important;
  }

  .offset-m18 {
    margin-left: 15.075% !important;
  }

  .offset-m19 {
    margin-left: 15.9125% !important;
  }

  .offset-m20 {
    margin-left: 16.75% !important;
  }

  .offset-m21 {
    margin-left: 17.5875% !important;
  }

  .offset-m22 {
    margin-left: 18.425% !important;
  }

  .offset-m23 {
    margin-left: 19.2625% !important;
  }

  .offset-m24 {
    margin-left: 20.1% !important;
  }

  .offset-m25 {
    margin-left: 20.9375% !important;
  }

  .offset-m26 {
    margin-left: 21.775% !important;
  }

  .offset-m27 {
    margin-left: 22.6125% !important;
  }

  .offset-m28 {
    margin-left: 23.45% !important;
  }

  .offset-m29 {
    margin-left: 24.2875% !important;
  }

  .offset-m30 {
    margin-left: 25.125% !important;
  }

  .offset-m31 {
    margin-left: 25.9625% !important;
  }

  .offset-m32 {
    margin-left: 26.8% !important;
  }

  .offset-m33 {
    margin-left: 27.6375% !important;
  }

  .offset-m34 {
    margin-left: 28.475% !important;
  }

  .offset-m35 {
    margin-left: 29.3125% !important;
  }

  .offset-m36 {
    margin-left: 30.15% !important;
  }

  .offset-m37 {
    margin-left: 30.9875% !important;
  }

  .offset-m38 {
    margin-left: 31.825% !important;
  }

  .offset-m39 {
    margin-left: 32.6625% !important;
  }

  .offset-m40 {
    margin-left: 33.5% !important;
  }

  .offset-m41 {
    margin-left: 34.3375% !important;
  }

  .offset-m42 {
    margin-left: 35.175% !important;
  }

  .offset-m43 {
    margin-left: 36.0125% !important;
  }

  .offset-m44 {
    margin-left: 36.85% !important;
  }

  .offset-m45 {
    margin-left: 37.6875% !important;
  }

  .offset-m46 {
    margin-left: 38.525% !important;
  }

  .offset-m47 {
    margin-left: 39.3625% !important;
  }

  .offset-m48 {
    margin-left: 40.2% !important;
  }

  .offset-m49 {
    margin-left: 41.0375% !important;
  }

  .offset-m50 {
    margin-left: 41.875% !important;
  }

  .offset-m51 {
    margin-left: 42.7125% !important;
  }

  .offset-m52 {
    margin-left: 43.55% !important;
  }

  .offset-m53 {
    margin-left: 44.3875% !important;
  }

  .offset-m54 {
    margin-left: 45.225% !important;
  }

  .offset-m55 {
    margin-left: 46.0625% !important;
  }

  .offset-m56 {
    margin-left: 46.9% !important;
  }

  .offset-m57 {
    margin-left: 47.7375% !important;
  }

  .offset-m58 {
    margin-left: 48.575% !important;
  }

  .offset-m59 {
    margin-left: 49.4125% !important;
  }

  .offset-m60 {
    margin-left: 50.25% !important;
  }

  .offset-m61 {
    margin-left: 51.0875% !important;
  }

  .offset-m62 {
    margin-left: 51.925% !important;
  }

  .offset-m63 {
    margin-left: 52.7625% !important;
  }

  .offset-m64 {
    margin-left: 53.6% !important;
  }

  .offset-m65 {
    margin-left: 54.4375% !important;
  }

  .offset-m66 {
    margin-left: 55.275% !important;
  }

  .offset-m67 {
    margin-left: 56.1125% !important;
  }

  .offset-m68 {
    margin-left: 56.95% !important;
  }

  .offset-m69 {
    margin-left: 57.7875% !important;
  }

  .offset-m70 {
    margin-left: 58.625% !important;
  }

  .offset-m71 {
    margin-left: 59.4625% !important;
  }

  .offset-m72 {
    margin-left: 60.3% !important;
  }

  .offset-m73 {
    margin-left: 61.1375% !important;
  }

  .offset-m74 {
    margin-left: 61.975% !important;
  }

  .offset-m75 {
    margin-left: 62.8125% !important;
  }

  .offset-m76 {
    margin-left: 63.65% !important;
  }

  .offset-m77 {
    margin-left: 64.4875% !important;
  }

  .offset-m78 {
    margin-left: 65.325% !important;
  }

  .offset-m79 {
    margin-left: 66.1625% !important;
  }

  .offset-m80 {
    margin-left: 67% !important;
  }

  .offset-m81 {
    margin-left: 67.8375% !important;
  }

  .offset-m82 {
    margin-left: 68.675% !important;
  }

  .offset-m83 {
    margin-left: 69.5125% !important;
  }

  .offset-m84 {
    margin-left: 70.35% !important;
  }

  .offset-m85 {
    margin-left: 71.1875% !important;
  }

  .offset-m86 {
    margin-left: 72.025% !important;
  }

  .offset-m87 {
    margin-left: 72.8625% !important;
  }

  .offset-m88 {
    margin-left: 73.7% !important;
  }

  .offset-m89 {
    margin-left: 74.5375% !important;
  }

  .offset-m90 {
    margin-left: 75.375% !important;
  }

  .offset-m91 {
    margin-left: 76.2125% !important;
  }

  .offset-m92 {
    margin-left: 77.05% !important;
  }

  .offset-m93 {
    margin-left: 77.8875% !important;
  }

  .offset-m94 {
    margin-left: 78.725% !important;
  }

  .offset-m95 {
    margin-left: 79.5625% !important;
  }

  .offset-m96 {
    margin-left: 80.4% !important;
  }

  .offset-m97 {
    margin-left: 81.2375% !important;
  }

  .offset-m98 {
    margin-left: 82.075% !important;
  }

  .offset-m99 {
    margin-left: 82.9125% !important;
  }

  .offset-m100 {
    margin-left: 83.75% !important;
  }

  .offset-m101 {
    margin-left: 84.5875% !important;
  }

  .offset-m102 {
    margin-left: 85.425% !important;
  }

  .offset-m103 {
    margin-left: 86.2625% !important;
  }

  .offset-m104 {
    margin-left: 87.1% !important;
  }

  .offset-m105 {
    margin-left: 87.9375% !important;
  }

  .offset-m106 {
    margin-left: 88.775% !important;
  }

  .offset-m107 {
    margin-left: 89.6125% !important;
  }

  .offset-m108 {
    margin-left: 90.45% !important;
  }

  .offset-m109 {
    margin-left: 91.2875% !important;
  }

  .offset-m110 {
    margin-left: 92.125% !important;
  }

  .offset-m111 {
    margin-left: 92.9625% !important;
  }

  .offset-m112 {
    margin-left: 93.8% !important;
  }

  .offset-m113 {
    margin-left: 94.6375% !important;
  }

  .offset-m114 {
    margin-left: 95.475% !important;
  }

  .offset-m115 {
    margin-left: 96.3125% !important;
  }

  .offset-m116 {
    margin-left: 97.15% !important;
  }

  .offset-m117 {
    margin-left: 97.9875% !important;
  }

  .offset-m118 {
    margin-left: 98.825% !important;
  }

  .offset-m119 {
    margin-left: 99.6625% !important;
  }

  .m1 {
    flex-basis: 0.3375%;
  }

  .m2 {
    flex-basis: 1.175%;
  }

  .m3 {
    flex-basis: 2.0125%;
  }

  .m4 {
    flex-basis: 2.85%;
  }

  .m5 {
    flex-basis: 3.6875%;
  }

  .m6 {
    flex-basis: 4.525%;
  }

  .m7 {
    flex-basis: 5.3625%;
  }

  .m8 {
    flex-basis: 6.2%;
  }

  .m9 {
    flex-basis: 7.0375%;
  }

  .m10 {
    flex-basis: 7.875%;
  }

  .m11 {
    flex-basis: 8.7125%;
  }

  .m12 {
    flex-basis: 9.55%;
  }

  .m13 {
    flex-basis: 10.3875%;
  }

  .m14 {
    flex-basis: 11.225%;
  }

  .m15 {
    flex-basis: 12.0625%;
  }

  .m16 {
    flex-basis: 12.9%;
  }

  .m17 {
    flex-basis: 13.7375%;
  }

  .m18 {
    flex-basis: 14.575%;
  }

  .m19 {
    flex-basis: 15.4125%;
  }

  .m20 {
    flex-basis: 16.25%;
  }

  .m21 {
    flex-basis: 17.0875%;
  }

  .m22 {
    flex-basis: 17.925%;
  }

  .m23 {
    flex-basis: 18.7625%;
  }

  .m24 {
    flex-basis: 19.6%;
  }

  .m25 {
    flex-basis: 20.4375%;
  }

  .m26 {
    flex-basis: 21.275%;
  }

  .m27 {
    flex-basis: 22.1125%;
  }

  .m28 {
    flex-basis: 22.95%;
  }

  .m29 {
    flex-basis: 23.7875%;
  }

  .m30 {
    flex-basis: 24.625%;
  }

  .m31 {
    flex-basis: 25.4625%;
  }

  .m32 {
    flex-basis: 26.3%;
  }

  .m33 {
    flex-basis: 27.1375%;
  }

  .m34 {
    flex-basis: 27.975%;
  }

  .m35 {
    flex-basis: 28.8125%;
  }

  .m36 {
    flex-basis: 29.65%;
  }

  .m37 {
    flex-basis: 30.4875%;
  }

  .m38 {
    flex-basis: 31.325%;
  }

  .m39 {
    flex-basis: 32.1625%;
  }

  .m40 {
    flex-basis: 33%;
  }

  .m41 {
    flex-basis: 33.8375%;
  }

  .m42 {
    flex-basis: 34.675%;
  }

  .m43 {
    flex-basis: 35.5125%;
  }

  .m44 {
    flex-basis: 36.35%;
  }

  .m45 {
    flex-basis: 37.1875%;
  }

  .m46 {
    flex-basis: 38.025%;
  }

  .m47 {
    flex-basis: 38.8625%;
  }

  .m48 {
    flex-basis: 39.7%;
  }

  .m49 {
    flex-basis: 40.5375%;
  }

  .m50 {
    flex-basis: 41.375%;
  }

  .m51 {
    flex-basis: 42.2125%;
  }

  .m52 {
    flex-basis: 43.05%;
  }

  .m53 {
    flex-basis: 43.8875%;
  }

  .m54 {
    flex-basis: 44.725%;
  }

  .m55 {
    flex-basis: 45.5625%;
  }

  .m56 {
    flex-basis: 46.4%;
  }

  .m57 {
    flex-basis: 47.2375%;
  }

  .m58 {
    flex-basis: 48.075%;
  }

  .m59 {
    flex-basis: 48.9125%;
  }

  .m60 {
    flex-basis: 49.75%;
  }

  .m61 {
    flex-basis: 50.5875%;
  }

  .m62 {
    flex-basis: 51.425%;
  }

  .m63 {
    flex-basis: 52.2625%;
  }

  .m64 {
    flex-basis: 53.1%;
  }

  .m65 {
    flex-basis: 53.9375%;
  }

  .m66 {
    flex-basis: 54.775%;
  }

  .m67 {
    flex-basis: 55.6125%;
  }

  .m68 {
    flex-basis: 56.45%;
  }

  .m69 {
    flex-basis: 57.2875%;
  }

  .m70 {
    flex-basis: 58.125%;
  }

  .m71 {
    flex-basis: 58.9625%;
  }

  .m72 {
    flex-basis: 59.8%;
  }

  .m73 {
    flex-basis: 60.6375%;
  }

  .m74 {
    flex-basis: 61.475%;
  }

  .m75 {
    flex-basis: 62.3125%;
  }

  .m76 {
    flex-basis: 63.15%;
  }

  .m77 {
    flex-basis: 63.9875%;
  }

  .m78 {
    flex-basis: 64.825%;
  }

  .m79 {
    flex-basis: 65.6625%;
  }

  .m80 {
    flex-basis: 66.5%;
  }

  .m81 {
    flex-basis: 67.3375%;
  }

  .m82 {
    flex-basis: 68.175%;
  }

  .m83 {
    flex-basis: 69.0125%;
  }

  .m84 {
    flex-basis: 69.85%;
  }

  .m85 {
    flex-basis: 70.6875%;
  }

  .m86 {
    flex-basis: 71.525%;
  }

  .m87 {
    flex-basis: 72.3625%;
  }

  .m88 {
    flex-basis: 73.2%;
  }

  .m89 {
    flex-basis: 74.0375%;
  }

  .m90 {
    flex-basis: 74.875%;
  }

  .m91 {
    flex-basis: 75.7125%;
  }

  .m92 {
    flex-basis: 76.55%;
  }

  .m93 {
    flex-basis: 77.3875%;
  }

  .m94 {
    flex-basis: 78.225%;
  }

  .m95 {
    flex-basis: 79.0625%;
  }

  .m96 {
    flex-basis: 79.9%;
  }

  .m97 {
    flex-basis: 80.7375%;
  }

  .m98 {
    flex-basis: 81.575%;
  }

  .m99 {
    flex-basis: 82.4125%;
  }

  .m100 {
    flex-basis: 83.25%;
  }

  .m101 {
    flex-basis: 84.0875%;
  }

  .m102 {
    flex-basis: 84.925%;
  }

  .m103 {
    flex-basis: 85.7625%;
  }

  .m104 {
    flex-basis: 86.6%;
  }

  .m105 {
    flex-basis: 87.4375%;
  }

  .m106 {
    flex-basis: 88.275%;
  }

  .m107 {
    flex-basis: 89.1125%;
  }

  .m108 {
    flex-basis: 89.95%;
  }

  .m109 {
    flex-basis: 90.7875%;
  }

  .m110 {
    flex-basis: 91.625%;
  }

  .m111 {
    flex-basis: 92.4625%;
  }

  .m112 {
    flex-basis: 93.3%;
  }

  .m113 {
    flex-basis: 94.1375%;
  }

  .m114 {
    flex-basis: 94.975%;
  }

  .m115 {
    flex-basis: 95.8125%;
  }

  .m116 {
    flex-basis: 96.65%;
  }

  .m117 {
    flex-basis: 97.4875%;
  }

  .m118 {
    flex-basis: 98.325%;
  }

  .m119 {
    flex-basis: 99.1625%;
  }

  .m120 {
    flex-basis: 100%;
  }
}
@media screen and (min-width: 800px) {
  .offset-l0 {
    margin-left: 0% !important;
  }

  .offset-l1 {
    margin-left: 0.8375% !important;
  }

  .offset-l2 {
    margin-left: 1.675% !important;
  }

  .offset-l3 {
    margin-left: 2.5125% !important;
  }

  .offset-l4 {
    margin-left: 3.35% !important;
  }

  .offset-l5 {
    margin-left: 4.1875% !important;
  }

  .offset-l6 {
    margin-left: 5.025% !important;
  }

  .offset-l7 {
    margin-left: 5.8625% !important;
  }

  .offset-l8 {
    margin-left: 6.7% !important;
  }

  .offset-l9 {
    margin-left: 7.5375% !important;
  }

  .offset-l10 {
    margin-left: 8.375% !important;
  }

  .offset-l11 {
    margin-left: 9.2125% !important;
  }

  .offset-l12 {
    margin-left: 10.05% !important;
  }

  .offset-l13 {
    margin-left: 10.8875% !important;
  }

  .offset-l14 {
    margin-left: 11.725% !important;
  }

  .offset-l15 {
    margin-left: 12.5625% !important;
  }

  .offset-l16 {
    margin-left: 13.4% !important;
  }

  .offset-l17 {
    margin-left: 14.2375% !important;
  }

  .offset-l18 {
    margin-left: 15.075% !important;
  }

  .offset-l19 {
    margin-left: 15.9125% !important;
  }

  .offset-l20 {
    margin-left: 16.75% !important;
  }

  .offset-l21 {
    margin-left: 17.5875% !important;
  }

  .offset-l22 {
    margin-left: 18.425% !important;
  }

  .offset-l23 {
    margin-left: 19.2625% !important;
  }

  .offset-l24 {
    margin-left: 20.1% !important;
  }

  .offset-l25 {
    margin-left: 20.9375% !important;
  }

  .offset-l26 {
    margin-left: 21.775% !important;
  }

  .offset-l27 {
    margin-left: 22.6125% !important;
  }

  .offset-l28 {
    margin-left: 23.45% !important;
  }

  .offset-l29 {
    margin-left: 24.2875% !important;
  }

  .offset-l30 {
    margin-left: 25.125% !important;
  }

  .offset-l31 {
    margin-left: 25.9625% !important;
  }

  .offset-l32 {
    margin-left: 26.8% !important;
  }

  .offset-l33 {
    margin-left: 27.6375% !important;
  }

  .offset-l34 {
    margin-left: 28.475% !important;
  }

  .offset-l35 {
    margin-left: 29.3125% !important;
  }

  .offset-l36 {
    margin-left: 30.15% !important;
  }

  .offset-l37 {
    margin-left: 30.9875% !important;
  }

  .offset-l38 {
    margin-left: 31.825% !important;
  }

  .offset-l39 {
    margin-left: 32.6625% !important;
  }

  .offset-l40 {
    margin-left: 33.5% !important;
  }

  .offset-l41 {
    margin-left: 34.3375% !important;
  }

  .offset-l42 {
    margin-left: 35.175% !important;
  }

  .offset-l43 {
    margin-left: 36.0125% !important;
  }

  .offset-l44 {
    margin-left: 36.85% !important;
  }

  .offset-l45 {
    margin-left: 37.6875% !important;
  }

  .offset-l46 {
    margin-left: 38.525% !important;
  }

  .offset-l47 {
    margin-left: 39.3625% !important;
  }

  .offset-l48 {
    margin-left: 40.2% !important;
  }

  .offset-l49 {
    margin-left: 41.0375% !important;
  }

  .offset-l50 {
    margin-left: 41.875% !important;
  }

  .offset-l51 {
    margin-left: 42.7125% !important;
  }

  .offset-l52 {
    margin-left: 43.55% !important;
  }

  .offset-l53 {
    margin-left: 44.3875% !important;
  }

  .offset-l54 {
    margin-left: 45.225% !important;
  }

  .offset-l55 {
    margin-left: 46.0625% !important;
  }

  .offset-l56 {
    margin-left: 46.9% !important;
  }

  .offset-l57 {
    margin-left: 47.7375% !important;
  }

  .offset-l58 {
    margin-left: 48.575% !important;
  }

  .offset-l59 {
    margin-left: 49.4125% !important;
  }

  .offset-l60 {
    margin-left: 50.25% !important;
  }

  .offset-l61 {
    margin-left: 51.0875% !important;
  }

  .offset-l62 {
    margin-left: 51.925% !important;
  }

  .offset-l63 {
    margin-left: 52.7625% !important;
  }

  .offset-l64 {
    margin-left: 53.6% !important;
  }

  .offset-l65 {
    margin-left: 54.4375% !important;
  }

  .offset-l66 {
    margin-left: 55.275% !important;
  }

  .offset-l67 {
    margin-left: 56.1125% !important;
  }

  .offset-l68 {
    margin-left: 56.95% !important;
  }

  .offset-l69 {
    margin-left: 57.7875% !important;
  }

  .offset-l70 {
    margin-left: 58.625% !important;
  }

  .offset-l71 {
    margin-left: 59.4625% !important;
  }

  .offset-l72 {
    margin-left: 60.3% !important;
  }

  .offset-l73 {
    margin-left: 61.1375% !important;
  }

  .offset-l74 {
    margin-left: 61.975% !important;
  }

  .offset-l75 {
    margin-left: 62.8125% !important;
  }

  .offset-l76 {
    margin-left: 63.65% !important;
  }

  .offset-l77 {
    margin-left: 64.4875% !important;
  }

  .offset-l78 {
    margin-left: 65.325% !important;
  }

  .offset-l79 {
    margin-left: 66.1625% !important;
  }

  .offset-l80 {
    margin-left: 67% !important;
  }

  .offset-l81 {
    margin-left: 67.8375% !important;
  }

  .offset-l82 {
    margin-left: 68.675% !important;
  }

  .offset-l83 {
    margin-left: 69.5125% !important;
  }

  .offset-l84 {
    margin-left: 70.35% !important;
  }

  .offset-l85 {
    margin-left: 71.1875% !important;
  }

  .offset-l86 {
    margin-left: 72.025% !important;
  }

  .offset-l87 {
    margin-left: 72.8625% !important;
  }

  .offset-l88 {
    margin-left: 73.7% !important;
  }

  .offset-l89 {
    margin-left: 74.5375% !important;
  }

  .offset-l90 {
    margin-left: 75.375% !important;
  }

  .offset-l91 {
    margin-left: 76.2125% !important;
  }

  .offset-l92 {
    margin-left: 77.05% !important;
  }

  .offset-l93 {
    margin-left: 77.8875% !important;
  }

  .offset-l94 {
    margin-left: 78.725% !important;
  }

  .offset-l95 {
    margin-left: 79.5625% !important;
  }

  .offset-l96 {
    margin-left: 80.4% !important;
  }

  .offset-l97 {
    margin-left: 81.2375% !important;
  }

  .offset-l98 {
    margin-left: 82.075% !important;
  }

  .offset-l99 {
    margin-left: 82.9125% !important;
  }

  .offset-l100 {
    margin-left: 83.75% !important;
  }

  .offset-l101 {
    margin-left: 84.5875% !important;
  }

  .offset-l102 {
    margin-left: 85.425% !important;
  }

  .offset-l103 {
    margin-left: 86.2625% !important;
  }

  .offset-l104 {
    margin-left: 87.1% !important;
  }

  .offset-l105 {
    margin-left: 87.9375% !important;
  }

  .offset-l106 {
    margin-left: 88.775% !important;
  }

  .offset-l107 {
    margin-left: 89.6125% !important;
  }

  .offset-l108 {
    margin-left: 90.45% !important;
  }

  .offset-l109 {
    margin-left: 91.2875% !important;
  }

  .offset-l110 {
    margin-left: 92.125% !important;
  }

  .offset-l111 {
    margin-left: 92.9625% !important;
  }

  .offset-l112 {
    margin-left: 93.8% !important;
  }

  .offset-l113 {
    margin-left: 94.6375% !important;
  }

  .offset-l114 {
    margin-left: 95.475% !important;
  }

  .offset-l115 {
    margin-left: 96.3125% !important;
  }

  .offset-l116 {
    margin-left: 97.15% !important;
  }

  .offset-l117 {
    margin-left: 97.9875% !important;
  }

  .offset-l118 {
    margin-left: 98.825% !important;
  }

  .offset-l119 {
    margin-left: 99.6625% !important;
  }

  .l1 {
    flex-basis: 0.3375%;
  }

  .l2 {
    flex-basis: 1.175%;
  }

  .l3 {
    flex-basis: 2.0125%;
  }

  .l4 {
    flex-basis: 2.85%;
  }

  .l5 {
    flex-basis: 3.6875%;
  }

  .l6 {
    flex-basis: 4.525%;
  }

  .l7 {
    flex-basis: 5.3625%;
  }

  .l8 {
    flex-basis: 6.2%;
  }

  .l9 {
    flex-basis: 7.0375%;
  }

  .l10 {
    flex-basis: 7.875%;
  }

  .l11 {
    flex-basis: 8.7125%;
  }

  .l12 {
    flex-basis: 9.55%;
  }

  .l13 {
    flex-basis: 10.3875%;
  }

  .l14 {
    flex-basis: 11.225%;
  }

  .l15 {
    flex-basis: 12.0625%;
  }

  .l16 {
    flex-basis: 12.9%;
  }

  .l17 {
    flex-basis: 13.7375%;
  }

  .l18 {
    flex-basis: 14.575%;
  }

  .l19 {
    flex-basis: 15.4125%;
  }

  .l20 {
    flex-basis: 16.25%;
  }

  .l21 {
    flex-basis: 17.0875%;
  }

  .l22 {
    flex-basis: 17.925%;
  }

  .l23 {
    flex-basis: 18.7625%;
  }

  .l24 {
    flex-basis: 19.6%;
  }

  .l25 {
    flex-basis: 20.4375%;
  }

  .l26 {
    flex-basis: 21.275%;
  }

  .l27 {
    flex-basis: 22.1125%;
  }

  .l28 {
    flex-basis: 22.95%;
  }

  .l29 {
    flex-basis: 23.7875%;
  }

  .l30 {
    flex-basis: 24.625%;
  }

  .l31 {
    flex-basis: 25.4625%;
  }

  .l32 {
    flex-basis: 26.3%;
  }

  .l33 {
    flex-basis: 27.1375%;
  }

  .l34 {
    flex-basis: 27.975%;
  }

  .l35 {
    flex-basis: 28.8125%;
  }

  .l36 {
    flex-basis: 29.65%;
  }

  .l37 {
    flex-basis: 30.4875%;
  }

  .l38 {
    flex-basis: 31.325%;
  }

  .l39 {
    flex-basis: 32.1625%;
  }

  .l40 {
    flex-basis: 33%;
  }

  .l41 {
    flex-basis: 33.8375%;
  }

  .l42 {
    flex-basis: 34.675%;
  }

  .l43 {
    flex-basis: 35.5125%;
  }

  .l44 {
    flex-basis: 36.35%;
  }

  .l45 {
    flex-basis: 37.1875%;
  }

  .l46 {
    flex-basis: 38.025%;
  }

  .l47 {
    flex-basis: 38.8625%;
  }

  .l48 {
    flex-basis: 39.7%;
  }

  .l49 {
    flex-basis: 40.5375%;
  }

  .l50 {
    flex-basis: 41.375%;
  }

  .l51 {
    flex-basis: 42.2125%;
  }

  .l52 {
    flex-basis: 43.05%;
  }

  .l53 {
    flex-basis: 43.8875%;
  }

  .l54 {
    flex-basis: 44.725%;
  }

  .l55 {
    flex-basis: 45.5625%;
  }

  .l56 {
    flex-basis: 46.4%;
  }

  .l57 {
    flex-basis: 47.2375%;
  }

  .l58 {
    flex-basis: 48.075%;
  }

  .l59 {
    flex-basis: 48.9125%;
  }

  .l60 {
    flex-basis: 49.75%;
  }

  .l61 {
    flex-basis: 50.5875%;
  }

  .l62 {
    flex-basis: 51.425%;
  }

  .l63 {
    flex-basis: 52.2625%;
  }

  .l64 {
    flex-basis: 53.1%;
  }

  .l65 {
    flex-basis: 53.9375%;
  }

  .l66 {
    flex-basis: 54.775%;
  }

  .l67 {
    flex-basis: 55.6125%;
  }

  .l68 {
    flex-basis: 56.45%;
  }

  .l69 {
    flex-basis: 57.2875%;
  }

  .l70 {
    flex-basis: 58.125%;
  }

  .l71 {
    flex-basis: 58.9625%;
  }

  .l72 {
    flex-basis: 59.8%;
  }

  .l73 {
    flex-basis: 60.6375%;
  }

  .l74 {
    flex-basis: 61.475%;
  }

  .l75 {
    flex-basis: 62.3125%;
  }

  .l76 {
    flex-basis: 63.15%;
  }

  .l77 {
    flex-basis: 63.9875%;
  }

  .l78 {
    flex-basis: 64.825%;
  }

  .l79 {
    flex-basis: 65.6625%;
  }

  .l80 {
    flex-basis: 66.5%;
  }

  .l81 {
    flex-basis: 67.3375%;
  }

  .l82 {
    flex-basis: 68.175%;
  }

  .l83 {
    flex-basis: 69.0125%;
  }

  .l84 {
    flex-basis: 69.85%;
  }

  .l85 {
    flex-basis: 70.6875%;
  }

  .l86 {
    flex-basis: 71.525%;
  }

  .l87 {
    flex-basis: 72.3625%;
  }

  .l88 {
    flex-basis: 73.2%;
  }

  .l89 {
    flex-basis: 74.0375%;
  }

  .l90 {
    flex-basis: 74.875%;
  }

  .l91 {
    flex-basis: 75.7125%;
  }

  .l92 {
    flex-basis: 76.55%;
  }

  .l93 {
    flex-basis: 77.3875%;
  }

  .l94 {
    flex-basis: 78.225%;
  }

  .l95 {
    flex-basis: 79.0625%;
  }

  .l96 {
    flex-basis: 79.9%;
  }

  .l97 {
    flex-basis: 80.7375%;
  }

  .l98 {
    flex-basis: 81.575%;
  }

  .l99 {
    flex-basis: 82.4125%;
  }

  .l100 {
    flex-basis: 83.25%;
  }

  .l101 {
    flex-basis: 84.0875%;
  }

  .l102 {
    flex-basis: 84.925%;
  }

  .l103 {
    flex-basis: 85.7625%;
  }

  .l104 {
    flex-basis: 86.6%;
  }

  .l105 {
    flex-basis: 87.4375%;
  }

  .l106 {
    flex-basis: 88.275%;
  }

  .l107 {
    flex-basis: 89.1125%;
  }

  .l108 {
    flex-basis: 89.95%;
  }

  .l109 {
    flex-basis: 90.7875%;
  }

  .l110 {
    flex-basis: 91.625%;
  }

  .l111 {
    flex-basis: 92.4625%;
  }

  .l112 {
    flex-basis: 93.3%;
  }

  .l113 {
    flex-basis: 94.1375%;
  }

  .l114 {
    flex-basis: 94.975%;
  }

  .l115 {
    flex-basis: 95.8125%;
  }

  .l116 {
    flex-basis: 96.65%;
  }

  .l117 {
    flex-basis: 97.4875%;
  }

  .l118 {
    flex-basis: 98.325%;
  }

  .l119 {
    flex-basis: 99.1625%;
  }

  .l120 {
    flex-basis: 100%;
  }
}
body {
  font-family: "Futura", sans-serif;
  margin: 0;
}

/** FLEX NAV HEADER **/
/** BANNIERE */
.header, .banniere {
  width: 100%;
  height: auto;
  box-shadow: 0px 0px 5px gray;
  padding-top: 2%;
}

.container, .header-container {
  height: auto;
}

.header-nav, .networks-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  max-width: 100%;
}

.header-nav a, .networks-list a {
  box-sizing: border-box;
  vertical-align: middle;
}

header .fa {
  margin-left: 2%;
  margin-right: 2%;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

header .fa:hover {
  color: gray;
  transform: scale(1.2);
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-logo, h1 img {
  width: 8%;
  vertical-align: middle;
  box-sizing: border-box;
}

.header-name, .header-titre {
  text-decoration: none;
  color: black;
  padding-top: 0;
  margin-top: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-weight: 750;
  text-shadow: 5px 5px 5px gray;
}
.header-name a, .header-titre a {
  text-decoration: none;
  color: black;
  vertical-align: middle;
}

.subtitle, .sous-titre {
  text-shadow: 1px 1px 1px darkgray;
  color: grey;
  font-weight: 100;
  padding-bottom: 2%;
}

@media screen and (min-width: 640px) {
  .header-logo, h1 img {
    width: 16%;
  }

  .header-name, .header-titre {
    font-size: 32px;
  }

  header .fa {
    font-size: 25px;
  }
}
/** MENU VERTICAL */
.nav-menu, .vertical-nav {
  margin: 0;
  line-height: 25px;
  color: rgba(255, 100, 0, 0.925);
  margin-top: 1%;
}
.nav-menu ul, .vertical-nav ul {
  margin: 0;
}
.nav-menu ul li, .vertical-nav ul li {
  list-style-type: none;
}
.nav-menu ul li a, .vertical-nav ul li a {
  text-decoration: none;
  color: rgba(255, 100, 0, 0.925);
  font-size: 20px;
}

.nav-title, .vertical-nav h2 {
  font-size: 1.2em;
  font-weight: 900;
}

/** LES ARTICLES */
.article-title, .article-titre {
  color: rgba(255, 100, 0, 0.925);
  font-weight: 750;
  font-size: 16px;
  margin-left: 2%;
}

.article-author a, .article-auteur a {
  color: black;
  font-style: italic;
  font-size: 13px;
  margin-left: 2%;
}

.article-date a {
  color: black;
  text-decoration: none;
  font-style: italic;
  font-size: 13px;
  margin-left: 2%;
}

.article-content, .contenu-article {
  margin: 2%;
  text-align: justify;
  font-size: 14px;
}

.over-img {
  position: relative;
}

.over-text {
  position: absolute;
  left: 2%;
  top: 0;
  color: white;
  font-size: 0.7em;
  font-weight: 900;
  text-shadow: 1px 1px 1px black;
}

.rotation-gauche {
  transform: rotate(-1deg);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.425);
  margin-top: 1%;
  box-sizing: border-box;
}
.rotation-gauche:hover {
  transform: rotate(0deg);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.925);
}
.rotation-gauche img {
  width: 100%;
}

.rotation-droite {
  transform: rotate(1deg);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.425);
  margin-top: 1%;
  box-sizing: border-box;
}
.rotation-droite:hover {
  transform: rotate(0deg);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.925);
}
.rotation-droite img {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
