.header{
    width:100%;
    height:auto;
    box-shadow: 0px 0px 5px gray;
    padding-top:2%;
   
}

.container{
    height:auto;
}   

.header-nav{
 
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 100%;
    
    
}

.header-nav a{
    
    box-sizing: border-box;
    vertical-align: middle;
}




header .fa{
    margin-left:2%;
    margin-right:2%;
    font-size:16px;
    text-decoration: none;
    color:black;

    
    
}


header .fa:hover{
    color:gray;
    transform: scale(1.2);
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    
}

.header-logo{
    width:8%;
    vertical-align: middle;
    box-sizing: border-box;
}

.header-name{
    text-decoration:none;
    color:black;
    padding-top:0;
    margin-top:0;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 750;

    & a{
        text-decoration:none;
        color:black;
        vertical-align: middle;
    }
}

.subtitle{
    text-shadow: 1px 1px 1px darkgray;
    color: grey;
    font-weight:100;
    padding-bottom: 2%;
}

@media screen and (min-width:640px){

    .header-logo {
        width: 16%;
     
    }

    .header-name{
        
        font-size: 32px;
    }

    header .fa {
        font-size: 25px;
    }    
}